Source: golang-github-howeyc-fsnotify
Section: devel
Priority: extra
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 9),dh-golang, golang-go
Standards-Version: 3.9.5
Homepage: https://github.com/howeyc/fsnotify.git

Package: golang-github-howeyc-fsnotify-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
Conflicts: golang-fsnotify.howeyc-dev
Provides: golang-fsnotify.howeyc-dev
Replaces: golang-fsnotify.howeyc-dev
Description: File system notification for GO
 File system notification for GO.
 .
 This package contains the source.
