#!/usr/bin/make -f

export DH_GOPKG := github.com/howeyc/fsnotify
# export DH_GOLANG_EXCLUDES := ${DH_GOPKG}/examples ${DH_GOPKG}/xgbgen ${DH_GOPKG}/res
export DEB_BUILD_OPTIONS := nocheck

%:
	dh $@ --buildsystem=golang --with=golang
